* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease; /* Smooth transition effect */
}

body {
    font-family: 'BrushScript MT', cursive; /* Cursive font */
    font-size: 14px;
    background: linear-gradient(145deg, #6cde2f, #23a479, #d00b0b, #8031ab);
    background-size: 400% 400%; /* Ensures the gradient covers the full background */
    animation: gradientAnimation 2s ease infinite; /* Animation to change colors */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: normal;
    transition: color 0.3s ease, font-weight 0.3s ease; /* Smooth transition for color and font weight */
}

.input-group input:focus + label {
    color: rgb(50, 203, 139); /* Changes label color to violet when input is focused */
    font-weight: bold; /* Makes the label bold when input is focused */
}
h2 {
    margin-bottom: 40px;
    color: #64067c;
}

body {
    background-color: #f8f9fa;
}
.form-container {
    margin-top: 50px;
    height: 10px;
}

.form-heading {
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: #343a40;
}
.custom-file-label::after {
    content: "Browse";
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    width:80%;
    max-width: 400px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: normal;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #ff7e5f; /* Change border color on focus */
}

.login-btn {
    width: 100%;
    padding: 20px;
    background-color: #0d12aa;
    border: none;
    border-radius: 5px;
    color: #b7d813;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #4cae4c;
}

.register-option {
    margin-top: 10px;
    color: #666;
}

.register-option a {
    color: #5cb85c;
    text-decoration: none;
    font-weight: bold;
}

.register-option a:hover {
    text-decoration: underline;
    color: #ff7e5f;
}